.gv{
    width: 100%;
}
.navbar{
    width: 100%;

}
.navbar1{
    width: 75%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    height: 50px;
    display: flex;
    margin: auto;
}
.navbar1 img{
    width: 15%;
}
.number{
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.option{
    width: 20%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.number h1{
    font-size: 12px;
}
.sech{
    align-items: center;
    text-align: center;
    border-bottom: 1px solid grey;
}
.navbar1 button{
    border: none;
    background-color: #2A5275;
    color: white;
    width: 70px;
    border-radius: 5px;
    height: 40px;
}
.navbar2{
    width: 100%;
    height: 50px;
    background-color: black;
}
.nv{
    width: 75%;
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: space-around;
    color: white;
    background-color: black;
}
.menu{
    width: 15%;
    height: 50px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.menu h1{
    font-size: 13px;
}
.nv h1{
    font-size: 13px;
}
.swip{
    width: 60%;
    margin: auto;
    margin-top: 5%;
}
.men{
    display: flex;
    justify-content: space-around;
}
.menu2{
    width: 23%;
    height: 450px;
    background-color: #EDF2F6;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 5px;
    display: none;
}
.d1{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d2{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d3{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d4{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d5{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d6{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d7{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d8{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d9{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d10{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.d11{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}
.menu2 h1{
    font-size: 13px;
}
.dr{
    width: 70%;
    height: 40px;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
}
.menu2 :hover{
background-color: #a1adb8;
}
